<h1>CONTACT PAGE</h1>
  <form class="indform" action="/sendto" method="post" >

    <input type="text" name="name" class="pure-input-1-2" size ="58" placeholder="Username"/><br>
    <input type="email" name="email" class="pure-input-1-2" size="58" placeholder="Email"/><br>
    <textarea class="pure-input-1-2" name="message" rows="5" cols ="50" placeholder="Textareas work too"></textarea>
    <button type="submit" class="pure-button pure-input-1-2 pure-button-primary" value=Absenden>Send</button>
</form>
