<h1>Edit Contact</h1>
  <form class="indform" action="/updateContact" method="post" >

    <input type="text" name="name" class="pure-input-1-2" size ="58" placeholder="<%= @Name %>"/>Name<br>
    <input type="email" name="email" class="pure-input-1-2" size="58" placeholder="<%= @Email %>"/>Email<br>
    <textarea class="pure-input-1-2" name="message" rows="5" cols ="50" placeholder="<%= @Message %>">Message</textarea>
    <button type="submit" class="pure-button pure-input-1-2 pure-button-primary" value=Absenden>Send</button>
</form>
